%section.settings.no-animate{ style: 'border:0;', class: ('expanded' if expanded_by_default?), data: { testid: 'admin-exact-code-search-settings' } }
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
      = _('Exact code search')
    = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p.gl-text-secondary
      = _('Configure settings for exact code search.')
      = link_to _('Learn more.'), help_page_path('integration/exact_code_search/zoekt'), target: '_blank', rel: 'noopener noreferrer'
  .settings-content
    = gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-exact-code-search-settings'), html: { class: 'fieldset-form', id: 'exact-code-search-settings' } do |f|
      = form_errors(@application_setting)
      %fieldset
        .form-group
          - zoekt_settings_checkboxes(f).each do |checkbox|
            = checkbox
      = f.submit _('Save changes'), pajamas_button: true
