.gl-text-left
  = render Pajamas::CardComponent.new do |c|
    - c.with_body do
      %h5
        = sprite_icon('tanuki-ai', css_class: 'gl-mr-2')
        = s_('CodeSuggestions|Introducing the GitLab Duo Pro add-on')
      %p
        - duo_pro_link = link_to('', 'https://about.gitlab.com/gitlab-duo/', target: '_blank', rel: 'noopener noreferrer')

        = safe_format(s_('CodeSuggestions|Boost productivity across the software development life cycle by using Code Suggestions and GitLab Duo Chat as part of the %{duoLinkStart}GitLab Duo Pro%{duoLinkEnd} add-on. You can now try GitLab Duo Pro for free for %{days} days, no credit card required.'),
          { days: GitlabSubscriptions::Trials::DuoPro::DURATION_NUMBER },
          tag_pair(duo_pro_link, :duoLinkStart, :duoLinkEnd))
      .gl-display-flex.gl-flex-direction-column.gl-sm-flex-direction-row.gl-gap-3
        - if Feature.enabled?(:duo_pro_trials, current_user, type: :wip)
          = render 'duo_pro_trial_cta',
            namespace: namespace,
            button_category: 'primary',
            button_options: { data: { event_tracking: 'click_duo_pro_trial_billing_page' } }

        .js-hand-raise-lead-trigger{ data: code_suggestions_billing_card_hand_raise_lead_data }
